/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap'); */

@font-face {
    font-family: 'Aesthetic';
    src: url(AestheticRegular-8M5dM.ttf) format('ttf'), 
        url(AestheticRegular-Yzraq) format('otf');
}

body {
    font-family: 'Aesthetic';
}

h2 {
    font-size: 120px;
}

.grid-column-12 {
    grid-template-columns: repeat(12, 1fr);
}
.first-slide .text-1, .first-slide .text-2 {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}
.first-slide .line-1 {
    grid-area: 1 / 3 / 2 / 7;
    text-align: start;
}
.line-1 .text-1 {
    animation: typing1 5s ease-in-out;
    letter-spacing: 5px;
}
.first-slide .line-2 {
    grid-area: 2 / 7 / 3 / 10;
    text-align: start;
}
.line-2 .text-2 {
    animation: typing2 5s ease-in-out;
}
.first-slide .inner {
    row-gap: 50px;
    margin: 0 auto;
}
@keyframes typing1 {
    0% {
        width: 0;
    } 50% {
        width: 100%;
    } 100% {
        width: 100%;
    }
}
@keyframes typing2 {
    0% {
        width: 0;
    } 50% {
        width: 0;
    } 100% {
        width: 100%;
    }
}

#index .mainSwiper .swiper-wrapper {
    height: 100vh;
    width: 100%;
}
#index .mainSwiper .swiper-wrapper .swiper-slide.pics {
    padding: 100px;
}
#index .mainSwiper .swiper-wrapper .swiper-slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.introduction {
    text-align: center;
}
.introduction p {
    font-size: 48px;
}
.polaroid-frame {
    width: 200px;
    height: 250px;
    transition: all .4s ease-in-out;
    transform: rotate(8deg);
    filter: grayscale(.9);
}
.polaroid-frame:hover {
    scale: 1.5;
    transform: rotate(0deg);
    filter: grayscale(0);
}
img.polaroid {
    border: solid #fff;
    border-width:6px 6px 50px 6px;
    box-shadow:1px 1px 5px #333; 
    -webkit-box-shadow:1px 1px 5px #333;
    -moz-box-shadow:1px 1px 5px #333;
    object-fit: cover;
    aspect-ratio: 2 / 2.5;
}
.collage {
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-gap: 50px;
}
.frame {
    width: 320px;
    height: 320px;
}
.frame img {
    object-fit: cover;
    aspect-ratio: 1;
}